/* Колір основного тексту #212121 */
/* Колір вторичного тексту #757575 */
/* Колір фону #FFFFFF */
/* Колір вторичного фону #F5F4FA */
/* Колір акценту #2196F3 */
/* Колір кнопки #F5F4FA */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --icons-color: #AFB1B8;
    --border-color: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

/* Hidden H1 */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    
    width: 1px;
    height: 1px;
    
    overflow: hidden;
    
    border: 0;
    padding: 0;
    
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  } 

.li {
    padding: 0;
    margin: 0;
}

.ul {
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Контейнер */
.container {
    width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;
  
    margin-left: auto;
    margin-right: auto;
  }

/* Background */

.background {
    background-color: #2F303A;
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Логотип/Logo */

.logoheader {
    color: #000000;
    
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    
    line-height: 1.19;
    letter-spacing: 0.03em;

    padding-top: 24px;
    padding-bottom: 25px;
    
    text-decoration: none;
}

.logofooter {
    color: #FFFFFF;
    display: inline-block;
    
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    text-decoration: none;

    margin-bottom: 20px;
}

.logoweb {
    color: #2196F3;
}

/* Site nav */

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .link {
    position: relative;
    
    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    display: block;
    
    padding-top: 32px;
    padding-bottom: 32px;
    
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item + .item {
    margin-left: 50px;
}

.nav-contacts {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.nav-contacts .link {
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    display: inline-flex;
    
    padding-top: 32px;
    padding-bottom: 32px;
    
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts .item + .item {
    margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.nav-contacts .link:hover,
.nav-contacts .link:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
    color: var(--accent-color);
}

.link.current::after {
    content: '';

    position: absolute;
    display: inline-block;

    height: 4px;
    width: 100%;

    left: 0;
    bottom: 0;
    margin-bottom: -1px;

    border-radius: 2px;

    background-color: var(--accent-color);
}

.contact-icons {
    align-self: center;
    margin-right: 10px;
    fill: currentColor;
}

/* Герой */

.hero {
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
    
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 600px;

    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;

    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;

    text-transform: uppercase;

    width: 696px;

    margin: 0 auto 30px;
}



/* Button */

.button {
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button:focus,
.button:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus,
.button-portfolio:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);
}


.button-hero {
    color: var(--primary-white-color);
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0 solid;
    border-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);

    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {
    font-family: inherit;
    color: #000000;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    min-width: 73px;
    border: 0 solid;
    border-color: var(--accent-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Секція */

.section {
    color: var(--primary-text-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-portfolio {
    padding-bottom: 94px;
}

.section-grey {
    background-color: var(--secondary-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Особливості/Features */

.feature {
    display: flex;
}

.feature-list {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    padding-left: 0;
    display: block;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

.feature .item + .item {
    margin-left: 30px;
}

.feature-pics {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    align-items: center;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

/* Чим ми займаємось/Work */

.worklist {
    display: flex;
    /* position: relative;
    overflow: hidden; */
    justify-content: space-between;
    margin-bottom: 0;
}

.worklist li {
    position: relative;
    overflow: hidden;
}

.worklist-img {
    display: block;
    width: 100%;
    height: auto;
    /* position: relative;
    overflow: hidden; */
}

.worklist .label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background-color:  rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    margin: 0;

    /* padding: 27px; */
}

.worklist-section {
    padding-top: 0;
    padding-bottom: 94px;
}

.worklist-title {
    display: flex;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

/* Наша команда/Family */

.family {
    display: flex;
    margin-bottom: 0;
}

.family .card {
    align-items: center;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.family .item + .item {
    margin-left: 30px;
}

.family .photo {
    margin-bottom: 0;
}

.family-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.family-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.family-jobtitle {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}

.team {
    padding-top: 30px;
}

.family-media {
    display: flex;
    justify-content: center;
    margin: 16px 32px 30px 32px
}

.social-item {
    margin-right: 10px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: var(--icons-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: currentColor;
}

/* Портфоліо/Portfolio */

.portfolio-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-img {
    display: block;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.portfolio-list .card {
    align-items: center;
    background-color: var(--primary-white-color);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list .image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
}

.portfolio-text {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-bottom: 0;
}

.portfolio-list .card:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list .card:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-link {
    display: block;
    text-decoration: none;
    margin: 0;
}

.portfolio-list .card:hover .overlay {
    transform: translatey(0);
    /* opacity: 1; */
  }

.overlay {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;

    /* width: 100%;
    height: 100%; */
    
    justify-content: center;
    justify-items: center;
    
    background-color: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 63px 24px;
  
    transform: translatey(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
    margin: 0;
}

.card:hover,
.card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .border {
    padding: 20px 24px;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #EEEEEE;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEEEEE;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #EEEEEE;
}

/* Постійні клієнти */

.section-clients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.clients-item {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    align-items: center;
    border: 1px solid ;
    color: var(--icons-color);
    border-color: var(--border-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.clients-icon {
    fill: currentColor;
}

/* Адреса/Address */
.address {
    text-decoration: none;
    font-style: normal; 
}

.address-text {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.address-mail {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.address-tel {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

/* .address-link {
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
} */

/* Приєднуйтесь */

/* .joinus {
    display: flex;
    width: 206px;
    height: 80px;
    outline: 1px solid blue;
} */

.joinus-title {
    display: inline-flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin: 0;
}

.joinus-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.joinus .social-item {
    padding: 0;
    margin-right: 10px;
}

.joinus .social-item:last-child {
    margin-right: 0;
}

.joinus .social-link {
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1); 
    color: var(--primary-white-color);
    cursor: pointer;
}

.joinus .social-link:hover,
.joinus .social-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.joinus .social-icon {
    fill: currentColor;
}

/* Футер/Footer */
.footer-block {
    display: flex;
    align-items: baseline;
}

.main-block {
    display: block;
}

.social-block {
    display: inline;
    width: 206px;
    height: 80px;
    margin-left: 70px;
}

.footer-nav {
    margin: 0;
}

.footer-nav .link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Підписка на розсилку */
.subscribe {
    justify-content: center;
    margin-left: auto;
}

.subscribe-form {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin: 0;
}

.subscribe-input {
    display: inline;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: var(--primary-white-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus,
.subscribe-input:hover {
    outline: 0;
    border-color: var(--accent-color);
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    margin-left: 16px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* padding: 10px 62px 10px 28px; */
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
    right: 28px;
    top: 13px;
}

.subscribe-button:focus,
.subscribe-button:hover {
    color: var(--primary-white-color);
    background-color: #006ec7;
}

/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: rotate(-180deg) scale(3);
}

.modal {
    position: absolute;
    padding: 40px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 528px;
    
    border-radius: 4px;

    background-color: var(--primary-white-color);
}

.modal .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    fill: var(--accent-color);
}

/* .request-form {
    align-items: center;
    justify-content: center;
} */

.request-title {
    color: rgba(33, 33, 33, 1);
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.request-form .name, .tel, .mail, .comment {
    /* display: block; */
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.request-input {
    color: var(--primary-text-color);
    margin-bottom: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
    color: var(--primary-text-color);
    margin-top: 4px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.check-agree::before {
    content: " ";
    display: flex;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
}

.check-box input:checked + .check-agree::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.agreement {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.modal-input {
    display: block;
    height: 40px;
    width: 100%;
    padding-left: 42px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
    outline: 0;
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal-input:focus + .input-icon,
.modal-input:hover + .input-icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.request-textarea {
    display: inline-block;
    padding-top: 12px;
    padding-left: 16px;
    height: 120px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-text-color);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.request-textarea:focus,
.request-textarea:hover {
    outline: 0;
    border-color: var(--accent-color);
}

.input-wrapper {
    position: relative;
    margin-top: 4px;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    fill: #212121;
    transform: translateY(-50%);
    transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-button {
    display: block;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;

    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-button:focus,
.request-button:hover {
    background-color: #188CE8;
}





