.address {
    text-decoration: none;
    font-style: normal; 
}

.address-text {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.address-mail {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.address-tel {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}